rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userID} {
      allow read, update: if request.auth.uid == userID;
    }
    match /devices/{document=**} {
    	allow create: if request.auth.uid == request.resource.data.userID;
      allow read, delete: if resource == null || request.auth.uid == resource.data.userID;
      allow update: if request.auth.uid == resource.data.userID && request.auth.uid == request.resource.data.userID;
    }
    match /images/{document=**} {
    	allow read: if request.auth.uid == resource.data.userID;
    }
  }
}